<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LE_QUANG_Minh</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
        body{
            background-image: url("http://wallpapercave.com/wp/WWFeR4k.jpg");
        }
    </style>
</head>
<body>
<div align="center" class="w3-text-pink">
    <img src="Image/14671370_564624563723496_3340074941404202642_n%20(1).jpg" width="400" height="400" alt="Not found">
    <a href="https://www.facebook.com/profile.php?id=100005278726373"><h1 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">LÊ QUANG MINH</h1></a>
</div>
<div class="w3-container w3-margin-top">
    <div class="w3-border w3-pale-red w3-round-xlarge w3-container">
        <h3>Day of Birth: 25/11/1994( 22 years old)</h3>
    </div>
    <div class="w3-border-lime w3-pale-yellow w3-round-xlarge w3-container">
        <h3 style="font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">Country: Quang Nam- Da Nang</h3>
        <h3 style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif">Place: Thanh Xuan- Ha Noi</h3>
    </div>
    <div class="w3-border-cyan w3-pale-blue w3-round-xlarge w3-container">
        <h3 style="font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace">Job:Student(HUST)</h3>
        <h3 style="font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace">Major:Mechanic</h3>
    </div>
</div>

</body>
</html>