<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body {
    background-image: url("http://assets.bluefingroup.co.uk/media/filer_public_thumbnails/filer_public/30/dc/30dcb5b3-815d-4e4c-af3e-d2823050911c/sports_montage_-_chosen_concept_v9_carouselv3_rgb.jpg__1600x580_q85_crop_upscale.jpg");
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-sidenav a {padding:20px}
</style>
<body>

<!-- Sidenav (hidden by default) -->
<nav class="w3-sidenav w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-closenav">Close window</a>
  <a href="#food" onclick="w3_close()">Sport</a>
  <a href="#about" onclick="w3_close()">Coming Soon</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">☰</div>
    <div class="w3-right">Mail</div>
    <div class="w3-center w3-text-red">My Favorite Sport</div>
  </div>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3=border-cyan w3-pale-yellow w3-round-xlarge ">
        <h3 class="w3-purple" align="center">Welcome ^o^</h3>
        <p style="pink" align="center">This's my favorite sports. Let's see all of them :D </p>
    </div>
  <!-- First Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
    {% for sport in sport_list %}
        <div class="w3-third w3-container w3-hover-opacity">
            <div class="w3-border w3-border-purple w3-pale-lime w3-round-xlarge w3-pale-yellow">
                <img src={{ sport["img"] }} width="300" height="300">
                <h3>{{ sport["Name"] }}</h3>
                <p>{{ sport["Desc"] }}</p>
                <a href={{ sport["link"] }}><h4 class="w3-text-red">Click here ^^</h4></a>
            </div>

        </div>
    {% endfor %}
    </div>

  </div>

